/**
 * Reset some basic elements
 */
 body, h1, h2, h3, h4, h5, h6,
 p, blockquote, pre, hr,
 dl, dd, ol, ul, figure {
   margin: 0;
   padding: 0;
 }
 
 ul {
  list-style-type: none;

}

img{
	max-width: 100%
}
 
 /**
  * Basic styling
  */
 body{
   font-family: $base-font-family;
   font-size:$base-font-size;
   line-height: $base-line-height;

  /* font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;*/
   color: $text-color;
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 h1{
  font-size: 30px;
  font-weight: 800;
 }

h2 {
  font-size: 25px;
}

h3 {
	font-size: 22px;
	margin: 10px 0;
}

h4 {
	font-size: 18px;
	margin: 10px 0;
}

.italic{
	font-style: italic;
}

.welcome-text{
  color: $text-color-w;
  margin-left: 20%;
  margin-top: 20%;
}

.text-box {
	margin: 20px 0;
}

/**
 * Links
 */
a {
  color: $text-color-w;
  text-decoration: underline;

  &:hover {
    color: $text-color-w;
    text-decoration: underline;
  }

  .social-media-list 
  &:hover {
    text-decoration: underline;

  }
}


/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}


/**
 * Footer
 */

 footer {
  background: #000;
  color: #fff;
  padding: 50px 15px;
 }