/**
 * Site header
 */

 .main-header {
  padding: 15px;
  //margin-bottom: 15px;
  background-color: $text-color-w;
}

.header-container {
  max-width: 90%;
  margin: auto;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 400;
  line-height: $base-line-height * $base-font-size * 2.25;
  margin-bottom: 0;
  display: inline-block;
  color: $text-color;
}

/* Menu - Navegação */

.navigation-wrapper {
  display: inline-block;
  float: right;
  padding: 18px 18px ;
}

#menuToggle {
  display: block;
  position: fixed;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a{
  text-decoration: underline;
  color: $text-color;  
  transition: color 0.3s ease;
}

#menuToggle a:hover{
  text-decoration: underline;
  color: $text-color;
}

#menuToggle input{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/** Just a quick hamburger */

#menuToggle span{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: $text-color;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2){
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: $text-color;
}

#menuToggle input:checked ~ span:nth-last-child(3){
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2){
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu{
  position: fixed;
  width: 300px;
  height: 100vh;
  margin: -100px 0 0 -200px;
  padding: 50px;
  padding-top: 125px;
  background: $accent-color;
  box-shadow: 0 0 12px rgba(0,0,0,.25);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  display: none;
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
  display: block;
}




/**
 * Footer
 */


@media (min-width: 768px){
  .social-media-list{
  display: flex;
  justify-content: space-start;
  }

.social-media-list li {
  padding-right: 30px;
}

.social-wrapper{
  align-content: left;
}
}




/**
 * Estrutura
 */

.container {
	width: 100%;
	position: relative;
    margin-right: auto;
    margin-left: auto;
    display: block;

    &:after, 
    .clearfix:after {
      display: block;
      content: "";
      clear: both;}
}

.column {
  position: relative;
  min-height: 1px;
  width: 100%;
  float: left;
}

.column-inner{
padding: 0 15px;
}

.page-content {
  min-height: calc(100vh - 600px);
}

.page-content {
  min-height: calc(100vh - 300px);
}

@media (min-width: 768px){
.container {
  width: 750px;
}

.column-1{
  width: 16%;
}

.column-2{
  width: 33%;
}

.column-3{
  width: 50%;
}

.column-4{
  width: 66%;
}

.column-5{
  width: 83%;
}

.column-6{
  width: 100%;
}

}

@media (min-width: 992px){
.container {
  width: 970px;
}
}

@media (min-width: 1200px){
.fw-container {
  width: 1170px;
}

.page-content {
  min-height: calc(100vh - 600px);
}
}

//home//

.home {
      background-image: url('./img/palmeira.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;  
      background-size: cover;
      min-height: calc(100vh - 300px);
    
    }


  /**
 * About
 */

 .biography, .education, .workdetail, .contact {
  margin: 15vh 0;
}

.imagewrapper{
  width: auto;
  margin-bottom: 10px;

}

.skills {
  background:$text-color;
  padding: 15vh 0;
  max-width: 100%;
  color: $text-color-w;
}
