---
layout: default
---
<section id="work-menu-1" class="work-menu">
    <div class="quickfixfooter">
        <nav>
            <ul>
                <div class="container">
                    {% for ddesign in site.work %}
                    <div class="column column-2">
                        <div class="column-inner">
                            <div class="text-box">

                                <li>
                                    <a href="{{ site.baseurl }}/work/{{ ddesign.slug }}/"
                                        class="{%if page.url contains ddesign.slug %}current{% endif %}">{{ddesign.title}}</a>

                                </li>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </ul>
        </nav>
    </div>


    {{ content }}

</section>